<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Register Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="../../assets/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>There are advances being made in science and technology everyday, and a good example of this
                            is the</p>
                        <a class="primary-btn" [routerLink]="['/login']">Login</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Register to Login</h3>
                    <form class="row login_form" [formGroup]="insertForm" (ngSubmit)="onSubmit()"  id="contactForm" >
                        <div class="col-md-12 form-group">
                            <input type="text" formControlName="email" class="form-control" id="email" name="email" placeholder="Email Example: name@gmail.com"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Example: name@gmail.com'">
                            <div *ngIf="email.touched && email.errors" class="errorMessage">
                                <span *ngIf="email.hasError('required')"> Email is required.</span>
                                <span *ngIf="email.hasError('email')">Please provide a valid email.</span>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" formControlName="username" class="form-control" id="username" name="username" placeholder="Username"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                            <div *ngIf="username.touched && username.errors" class="errorMessage">
                                <span *ngIf="username.hasError('required')"> Username is required.</span>
                                <span *ngIf="username.hasError('maxlength')"> Only 10 characters allowed for Username.</span>
                                <span *ngIf="username.hasError('minlength')"> Atleast 5 characters needed for Username.</span>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" formControlName="password" class="form-control" id="password" name="password" placeholder="Password"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                            <div *ngIf="password.touched && password.errors" class="errorMessage">
                                <span *ngIf="password.hasError('required')"> Password is required.</span>
                                <span *ngIf="password.hasError('maxlength')"> Only 10 characters allowed for Username.</span>
                                <span *ngIf="password.hasError('minlength')"> Atleast 6 characters needed for Username.</span>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" formControlName="cpassword" class="form-control" id="cpassword" name="cpassword" placeholder="Confirm Password"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
                            <div *ngIf="cpassword.touched && cpassword.errors" class="errorMessage">
                                <span *ngIf="cpassword.hasError('mustMatch')">Password Must Match.</span> 
                                <br>                           
                                <span *ngIf="cpassword.hasError('required')"> Confirm Password is required.</span>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Keep me logged in</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn" [disabled]="insertForm.invalid">Register Now</button>
                            <!-- <a href="#">Forgot Password?</a> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Register Box Area =================-->

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Registration</h4>
        <button type="button" class="close pull-right" aria-label="Close" >
            <span aria-hidden="true" >&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p class="list-group-item active"></p>
        <ul class="list-group">
            <li class="list-group-item"></li>
        </ul>
    </div>
</ng-template>